<html>
    <head>
        <title>TODO List</title>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <link href="/assests/styles.css" rel="stylesheet" type="text/css" />
        <script src="/assests/todo-list.js"></script>
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" class="inputTodoClass" name="item" placeholder="Add new item..." required />
                <input type="hidden" name="listid" value=<%= data.listid %>>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i = 0; i < data.todos.length; i++) { %>
                <li id=<%=data.todos[i]._id%> class='list-class'><%= data.todos[i].item %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>