body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#list-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#list-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"].inputClass{
    width: 33%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

input[type="text"].inputTodoClass{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.list-class {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li.list-class:hover {
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0%;
  padding: 20px;
  transform: translate(0%, -28%);
  color:#1ab188;
}

.close:hover {background: rgba(0,0,0,0.2);}


li.list-plain {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li.list-plain:hover {
    background-color: rgba(0,0,0,0.2);
  }

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
      overflow-y: scroll; 
  }

a {
    text-decoration:none;
    color:#1ab188;
    transition:.5s ease;
}

a:hover {
    color:darken(#1ab188,5%);
}

.form {
    background:rgba(#13232f,.9);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:4px;
    box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
}

.tab-group.active a {
    background:#1ab188;
    color:#ffffff;
}

.tab-group li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:48%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}

.tab-group after {
    content: "";
    display: table;
    clear: both;
}

.tab-group:hover {
    background:darken(#1ab188,5%);
    color:#ffffff;
}

.tab-content > div:last-child {
    display:none;
}

h1 {
    text-align:center;
    color:#ffffff;
    font-weight:300;
    margin:0 0 40px;
}

label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba(#ffffff,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
}

label.req {
    margin:2px;
    color:#1ab188;
}

label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
}

label.active.req {
    opacity:0;
}

label.highlight {
    color:#ffffff;
}

input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid #a0b3b0;
    color:#ffffff;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    
  }

input, textarea :focus {
    outline:0;
    border-color:#1ab188;
}

textarea {
    border:2px solid #a0b3b0;
    resize: vertical;
  }
  
.field-wrap {
    position:relative;
    margin-bottom:40px;
}
  
.top-row > div {
    float:left; 
    width:100%; 
    margin-right:4%;
}

.top-row > div:last-child { 
    margin:0;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom:40px;
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color:#ffffff;
    transition:all.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background:darken(#1ab188,5%);
}
  
.button-block {
    display:block;
    width:100%;
}
  
.forgot {
    margin-top:-20px;
    text-align:right;
}